
<div class="container search-results">
    <h3> Showing results for: {{search}} </h3>
    <div class="search-category song-container">
        <p>Songs: </p>
        <div class="card-deck ">
            {{#each tracks}}
            <div class="card col-sm-4">
                <img src="{{album.images.[0].url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    {{!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> --}}
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="search-category artist-container">
        <p>Artist: </p>
        <div class="card-deck">
            {{#each artists}}
            <div class="card col-sm-4">
                <img src="{{images.[0].url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    {{!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> --}}
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="search-category playlist-container">
        <p>Albums: </p>
        <div class="card-deck">
            {{#each albums}}
            <div class="card col-sm-4">
                <img src="{{images.[0].url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    {{!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> --}}
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    
</div>